/* --------------- variable --------------- */
:root {
    --color-main: beige;
    --color-primary: #0066ff;
    --color-secondary: #02b5ff;
    --color-blue2: #4a00e1;
    --color-blue4: #5842bc;
    --color-blue5: #157efb;
    --color-blue6: #6640f4;
    --color-blue7: #8169f1;
    --color-lightBlue: #3a9fe3ff;
    --color-darkBlue: #010049;
    --color-darkBlue2: #1f227d;
    --color-orange1: #ff7a41;
    --color-orange2: #ffed4f;
    --color-orange3: #f9a41f;
    --color-red1: #cc2131;
    --color-red2: #e73f7fff;
    --color-green: #00c057;
    --color-yellowGreen: #cef54b;
    --color-gray: #eef4f8;
    --color-gray2: #f0eff5;
    --color-main-grad: linear-gradient(to right, #ffed4f 0%, #e73f7f 100%);
  }